body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

section{
    padding: 20px;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.column{
    float: left;
    width: 15%;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px p rgba(0, 0, 0, .2);
}

@media screen and (max-width: 1200px) {
    .column{
        width: 50%;
    }
}
@media screen and (max-width: 992px) {
    .column{
        width: 33.33%;
    }
}
@media screen and (max-width: 600px) {
    .column{
        width: 25%;
    }
}
